.cart-container {
    background-color: black;
    color: #ffffff; /* White text */
    padding: 20px;
    min-height: 100vh;
  }
  
  h2, h3, p {
    color: #ffcc00; /* Yellow highlight */
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ffcc00;
    padding: 10px;
  }
  
  .cart-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    border: 2px solid #ffcc00;
  }
  
  .cart-buttons button {
    background-color: #ffcc00;
    color: black;
    padding: 5px 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .cart-buttons button:hover {
    background-color: white;
    color: black;
  }
  
  .checkout-btn, .clear-btn {
    background-color: #ff0000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
  }
  
  .checkout-btn a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  .checkout-btn:hover, .clear-btn:hover {
    background-color: #ffcc00;
    color: black;
  }
  